# Ignore virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# macOS system files (just in case)
.DS_Store

# Byte-compiled / optimized / DLL files
*.pyo
*.pyd
*.so

# Environment variables files
.env
